/* Estilos gerais */
.container {
    display: grid;
    padding: 20px;
    color: black;
    padding: 1rem;
}

/* Título */
.title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    color: gold;
}

/* Input de busca */
.search-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 8px;
    outline: none;
    transition: 0.3s;
}

.search-input:focus {
    border-color: #007bff;
}

/* Mensagem de carregamento */
.loading {
    font-size: 18px;
    color: gray;
    margin-top: 20px;
}

/* Grid de países */
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
    margin-top: 20px;
}

@media (width < 900px) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (width < 800px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (width < 600px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

/* Card de país */
.card {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

/* Imagem da bandeira */
.flag {
    max-height: 100%;
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 10px #00000047;
}

.flag-container {
    display: flex;
    justify-content: center;
    height: 200px;
}

/* CountryPage */
.countrypage-subtitle {
    background-color: gold;
}

/* CountriesByCurrency*/
.countrylist-subtitle {
    color:gold;
}

